/* Global
----------------------------------------------------------------------------- */

@font-face {
  font-family: 'Fira Sans';
  src: url("FiraSansOT-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("FiraSansOT-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("FiraSansOT-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

body {
  background: #000;
  font-family: "Fira Sans";
  margin: 0;
  padding: 0;
}

/* Remove the gap between images, videos, audio and canvas and the bottom of
their containers: h5bp.com/i/440 */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/* System .sys-
----------------------------------------------------------------------------- */

.sys-screen {
  width: 320px;
  height: 480px;
  overflow: hidden;
  perspective: 100px;
}

.sys-windows {
  /* Doing this under the superstition that it will cause a faster composite,
  since it can be treated as a layer w/o opacity. */
  background: #000;
  /* Hard code w/h for now */
  height: 480px;
  position: absolute;
  width: 660px;
}

/* Do it all as one pan keyframe animatin on strip. Also have zoom/scale
happen at same time toward end to give illusion of momentum. */
@keyframes sys-to-home {
  0% {
    transform: translate3d(0, 0, 0);
  }
  40% {
    transform: translate3d(0, 0, -40px);
  }
  100% {
    transform: translate3d(-340px, 0, 0);
  }
}

@keyframes sys-to-app-from-home {
  0% {
    transform: translate3d(-340px, 0, 0);
  }
  60% {
    transform: translate3d(0, 0, -40px);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes sys-to-launch-from-home {
  0% {
    transform: translate3d(-340px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, -40px);
  }
}

@keyframes sys-launch {
  0% {
    opacity: 0;
    transform: scale(.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.sys-window {
  /* Hard code w/h for now */
  height: 480px;
  position: absolute;
  top: 0;
  width: 320px;
}

.state-to-home {
  animation: sys-to-home 1100ms cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
/* 660 */
.state-to-app-from-home {
  animation: sys-to-app-from-home 1100ms cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.state-to-launch {
  animation: sys-launch 700ms cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

/* RocketBar .rb-
----------------------------------------------------------------------------- */

.rb-rocketbar {
  /* Preload background image without showing it */
  background: rgba(0, 0, 0, 0.5);
  height: 20px;
  left: 0;
  /* Contains absolute elements */
  position: absolute;
  width: 320px;
  transition: height 200ms linear;
  right: 0;
  top: 0;
  z-index: 500;
}

.rb-input {
  color: #fff;
}

.rb-min > .rb-input {
  background: url(rb-search-min.png) no-repeat 0 0;
  color: #ddd;
  font-size: 12.6px;
  padding-left: 22px;
}

/* Include .ir with the element. */
.rb-icons {
  background-image: url(rb-icons.png);
  background-size: auto 20px;
  height: 20px;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 200ms linear;
  width: 106px;
}